<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>		
		<!--  User Related Mapping files -->
		<mapping resource="org/openhouse/api/db/hibernate/User.hbm.xml" />
		<mapping resource="org/openhouse/api/db/hibernate/Role.hbm.xml" />
		<mapping resource="org/openhouse/api/db/hibernate/Person.hbm.xml" />
		<mapping resource="org/openhouse/api/db/hibernate/Privilege.hbm.xml" />
		
		<!-- Location Related Mapping Files -->
		<mapping resource="org/openhouse/api/db/hibernate/Location.hbm.xml" />
		<mapping resource="org/openhouse/api/db/hibernate/LocationTag.hbm.xml" />
  </session-factory>

</hibernate-configuration>
